<header class="site-header">
  <div class="container">
    <div class="site-brand">
      <a href="https://www.anl.gov" rel="noopener" aria-label="Argonne National Laboratory" class="site-logo-link">
        <img src="{{ '/assets/img/general/ANL_Color Logo with White Type for Digital.png' | relative_url }}" alt="Argonne National Laboratory" class="site-logo">
      </a>
      <span class="site-brand__divider" aria-hidden="true"></span>
      <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    {% include nav.html %}
  </div>
</header>
